/*
Theme Name: Groci
Theme URI: http://themeforest.net/user/klbtheme/portfolio
Author: KlbTheme (Sinan ISIK)
Author URI: http://themeforest.net/user/KlbTheme
Domain Path: /languages
Description: This WordPress theme is best for use in such business areas as corporate, many types of agencies and bureaus, portfolio showcases, landscape, building, engineering, planning, construction, design
Version: 2.0.1
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: right-sidebar, left-sidebar,  one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: groci

Theme Developer:
http://themeforest.net/user/KlbTheme
http://facebook.com/13Sinan13
https://twitter.com/SinanIk
Skype:berbat1231
*/


/*- - - - - Contents - - - - -
	
	01 - Visual Composer
	02 - Woocommerce
	03 - Widgets
	04 - Pagination
	05 - Blog
	
	- - - - - - - - - - - - - -*/


/*************************************************
* Visual Composer
*************************************************/

.vc_row>.container {
    padding-left: 0;
    padding-right: 0;
}

.wpb_content_element {
    margin-bottom: 0 !important;
}

.vc_column-gap-1 .vc_column-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vc_column-gap-1>.vc_column_container {
    padding: 0 !important;
}

.vc_row[data-vc-full-width].vc_parallax {
    overflow: hidden !important;
}

.vc_column-inner {
    padding-top: 0 !important;
}

.vc_parallax:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: initial !important;
    opacity: 0.85;
    z-index: 1;
}


/*************************************************
* WooCommerce
*************************************************/

.product-footer:before,
.product-footer:after {
    content: '';
    display: table;
    clear: both;
}

.product-footer a.added_to_cart {
    border-radius: 49px !important;
    font-size: 12px;
    padding: 6px 23px;
    margin: 10px 0 0;
    color: #fff;
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border: medium none;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.product-footer .offer-price ins {
    text-decoration: none;
}

.product-footer .offer-price del {
    color: #666 !important;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
}

.shop-detail-right .quantity {
    float: left;
}

.shop-detail-right .quantity label.screen-reader-text {
    display: none;
}

.shop-detail-right .quantity input[type="number"] {
    height: 39px;
    width: 39px;
    border: 3px solid #ff8c4e;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    text-align: center;
    outline: 0;
}

.shop-detail-right .cart .quantity+button {
    float: left;
    margin-top: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.shop-detail-right.klb-product-right .btn {
    padding: 10px 30px;
}

.shop-detail-right form.cart:before,
.shop-detail-right form.cart:after {
    content: '';
    display: table;
    clear: both;
}

.shop-detail-right ins {
    color: #28a745;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.shop-detail-right del {
    color: #17a2b8;
    font-size: 17px;
}

.shop-detail-right p.price {
    margin-top: 1rem;
}

.product_meta {
    color: #e96125;
    font-weight: 500;
    margin-top: 1rem;
}

.product_meta span.sku {
    color: #888;
    font-weight: 400;
}

.product_meta span.posted_in a {
    font-weight: 400;
}

.klb-product-tab {
    margin-top: 15px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eeeeee;
    border-radius: 12px;
    padding: 32px;
}

.klb-product-right {
    margin-bottom: 15px;
}

ul.flex-direction-nav {
    position: absolute;
    bottom: 0;
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

a.flex-next {
    visibility: hidden;
}

a.flex-prev {
    visibility: hidden;
}

a.flex-next::after {
    visibility: visible;
    content: '\f105';
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 70px;
}

a.flex-prev::before {
    visibility: visible;
    content: '\f104';
    font-family: FontAwesome;
    margin-left: 10px;
    font-size: 70px;
}

ul.flex-direction-nav li:first-child {
    float: left;
}

ul.flex-direction-nav li {
    float: right;
}

ol.flex-control-nav.flex-control-thumbs li {
    display: inline-block;
    margin: 0 8px;
}

ol.flex-control-nav.flex-control-thumbs li img {
    border: 2px solid #eee;
    border-radius: 12px;
    cursor: pointer;
    margin: 26px 0 8px;
}

ol.flex-control-nav.flex-control-thumbs li img.flex-active {
    border-color: #1c2224;
}

ol.flex-control-nav.flex-control-thumbs {
    padding: 0 70px;
}

.flex-viewport {
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 15px;
}

form.woocommerce-ordering {
    margin-bottom: 1rem;
    text-align: right;
}

.woocommerce-ordering .select2 {
    text-align: left;
}

.woocommerce-pagination a.page-numbers {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #e96125;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.woocommerce-pagination span.page-numbers.current {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    z-index: 1;
    color: #fff;
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border-color: #e96125;
    border: 1px solid #dee2e6;
}

.woocommerce-pagination ul.page-numbers {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.woocommerce-pagination li {
    display: inline-block;
}

.woocommerce-pagination li a:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.woocommerce-pagination ul.page-numbers {
    margin-top: 1.5rem;
}

.woocommerce-page .osahan-menu-2 {
    margin-bottom: 0;
}

h3.widget-title {
    color: #e96125;
    font-size: 15px;
    font-weight: 500;
    background-color: #fbfbfb;
    border-bottom: 1px solid #eee;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    text-transform: capitalize;
}

.widget.woocommerce {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}

.widget.woocommerce>ul {
    padding: 18px;
}

.font-16 {
    font-size: 16px;
}

.widget.woocommerce .search-form .btn {
    border-left: 0;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.widget.woocommerce .search-form input[type="text"] {
    border-right: none;
}

.product_list_widget img {
    float: left;
    width: 80px;
    margin-right: 10px;
}

.product_list_widget li:before,
.product_list_widget li:after {
    content: '';
    display: table;
    clear: both;
}

ul.product_list_widget ins {
    color: #e96125;
    text-decoration: none;
}

ul.product_list_widget span.product-title {
    font-weight: 500;
}

.widget .price_slider_amount button.button {
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    padding: 3px 17px;
    font-size: 12px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: #fff;
    cursor: pointer;
    border: none;
}

.widget .price_slider.ui-slider {
    margin-right: 15px;
    position: relative;
}

.ui-slider .ui-slider-handle {
    left: 0%;
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    outline: 0;
    top: -3px;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    height: 8px;
    background: #f5f5f5 !important;
    border: 1px solid #eaeaea;
}

.ui-slider-horizontal {
    height: 8px;
}

.ui-widget-content {
    background: #505050;
    margin-bottom: 20px;
}

.price_slider_wrapper {
    position: relative;
}

.price_slider_amount .button {
    float: left;
    background-color: #e96125;
    color: white;
}

.price_slider_amount .button:hover {
    float: left;
    background-color: black;
    color: white;
}

.price_slider_amount,
.woocommerce-page .widget_price_filter .price_slider_amount {
    text-align: right;
}

.price_slider_amount:before,
.price_slider_amount:after {
    content: '';
    display: table;
    clear: both;
}

.widget.woocommerce.widget_price_filter form {
    padding: 18px;
}

.woocommerce-tabs ul>li {
    display: inline-block;
}

.woocommerce-Tabs-panel.klb-product-tab {
    margin-top: 0px;
    border-top-left-radius: 0;
}

.woocommerce-tabs .btn {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.woocommerce-tabs #tab-description h2,
.woocommerce-tabs #tab-additional_information h2,
.woocommerce-tabs #tab-reviews h2 {
    font-size: 24px;
    font-weight: 100;
}

.related.products>h2 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 1rem;
}

.woocommerce-tabs .tabs li.active a {
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
}

.woocommerce-tabs .tabs li a {
    background: #1c2224 !important;
}

@media (max-width: 480px) {
    .woocommerce-tabs ul>li:last-child {
        margin-top: 5px;
    }
}

table {
    max-width: 100%;
    background-color: transparent;
    width: 100%;
    table-layout: fixed;
}

th {
    text-align: left;
    padding-right: 20px;
    padding-bottom: 5px;
    padding: 10px;
    border: 1px solid #dee2e6;
}

td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

dt {
    font-weight: bold;
}

dt,
dd {
    line-height: 20px;
}

dd {
    margin-left: 10px;
}

abbr,
tla,
acronym {
    text-decoration: underline;
    cursor: help;
}

.woocommerce-message.klb-product-tab {
    padding: 20px;
    margin-bottom: 15px;
}

.woocommerce-message a.button.wc-forward {
    font-weight: 500;
    color: #e96125;
    font-size: 14px;
}

.table.cart_summary th {
    border: none;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.table.cart_summary td {
    border: none;
    border-top: 1px solid #dee2e6;
}

.shop_table .quantity label.screen-reader-text {
    display: none;
}

.klbaction:before,
.klbaction:after {
    content: '';
    display: table;
    clear: both;
}

.shop_table div.coupon {
    float: left;
}

.shop_table .coupon+button.button {
    float: right;
}

.cart-table .btn-secondary {
    border-radius: 2px !important;
    font-size: 13px;
    padding: .375rem .75rem;
    text-transform: uppercase;
}

.klbaction .coupon label {
    display: none;
}

.klbaction .coupon .form-control {
    width: initial;
    display: inline-block;
    font-size: 13px;
}

.cart-collaterals h2 {
    font-size: 24px;
    font-weight: 100;
}

.cart-collaterals {
    padding: 1.5rem .75rem;
}

.wc-proceed-to-checkout .btn {
    margin-top: 15px;
}

.cart-collaterals th,
.cart-collaterals td {
    border: 1px solid #dee2e6;
}

.woocommerce-billing-fields label {
    display: block;
    width: 100%;
}

.woocommerce-billing-fields span.woocommerce-input-wrapper input,
.woocommerce-shipping-fields span.woocommerce-input-wrapper input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    font-size: 14px;
}

.woocommerce-billing-fields span.woocommerce-input-wrapper,
.woocommerce-shipping-fields span.woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-checkout .woocommerce-additional-fields textarea {
    width: 100%;
    padding: .375rem .75rem;
}

.woocommerce-checkout .woocommerce-additional-fields .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-checkout .form-row {
    margin-left: 0;
    margin-right: 0;
}

.woocommerce-checkout h3,
.woocommerce-account h3 {
    font-size: 24px;
    font-weight: 100;
}

.klb-product-tab.order_review .woocommerce-checkout-payment {
    margin-top: 30px;
}

.checkout_coupon.woocommerce-form-coupon input,
.woocommerce-account input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    font-size: 14px;
}

.woocommerce-terms-and-conditions-wrapper {
    display: block;
    width: 100%;
}

nav.woocommerce-MyAccount-navigation li {
    display: inline-block;
    border: 1px solid #e96125;
    padding: 5px 10px;
    margin-right: 5px;
}

nav.woocommerce-MyAccount-navigation {
    margin-bottom: 10px;
}

nav.woocommerce-MyAccount-navigation li.is-active {
    background: #e96125;
}

nav.woocommerce-MyAccount-navigation li.is-active a {
    color: #fff;
}

nav.woocommerce-MyAccount-navigation li:hover {
    background: #e96125;
}

nav.woocommerce-MyAccount-navigation li:hover a {
    color: #fff;
}

.woocommerce-account .form-row {
    margin-right: 0;
    margin-left: 0;
}

.woocommerce-account label.woocommerce-form__label-for-checkbox {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 0;
}

.woocommerce-account input[type="checkbox"] {
    width: initial;
}

.woocommerce-account .account-left .list-group a.is-active {
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    color: #fff;
}

.woocommerce-account .account-left .list-group a:hover {
    background: #ff934b !important;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%) !important;
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    color: #fff;
}

.woocommerce-account span.woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-account a.edit {
    color: #e96125;
    font-weight: 500;
}

ul.woocommerce-error {
    color: #e96125;
}

.klb-product-tab.woo-error {
    padding: 20px;
    margin-bottom: 15px;
}

.woocommerce-MyAccount-content .woocommerce-message a.btn {
    margin-right: 5px;
}

a.woocommerce-MyAccount-navigation-link--orders i:before {
    content: "\F0279";
}

a.woocommerce-MyAccount-navigation-link--downloads i:before {
    content: "\F01DA";
}

a.woocommerce-MyAccount-navigation-link--edit-address i:before {
    content: "\F034F";
}

a.woocommerce-MyAccount-navigation-link--dashboard i:before {
    content: "\F056E";
}

a.woocommerce-MyAccount-navigation-link--customer-logout i:before {
    content: "\F0343";
}

.woocommerce-MyAccount-content .edit-account fieldset {
    margin-top: 30px;
}

.star-rating:before {
    content: "\F04D2\F04D2\F04D2\F04D2\F04D2";
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Material Design Icons';
}

.star-rating {
    display: block;
    overflow: hidden;
    position: relative;
    height: 16px;
    font-size: 15px;
    width: 75px;
    font-family: 'Material Design Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e96125;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 16px;
}

.star-rating span:before {
    content: "\F04CE\F04CE\F04CE\F04CE\F04CE";
    top: 0;
    position: absolute;
    left: 0;
    font-family: 'Material Design Icons';
}

p.stars a {
    border-right: 1px solid #e1e1e1;
}

p.stars a:last-child {
    border-right: 0;
}

p.stars a.star-1:after,
.woocommerce-page p.stars a.star-1:after {
    content: "\F04D2";
    font-family: 'Material Design Icons';
    color: #666;
}

p.stars a.star-2:after,
.woocommerce-page p.stars a.star-2:after {
    content: "\F04D2\F04D2";
    font-family: 'Material Design Icons';
    color: #666;
}

p.stars a.star-3:after,
.woocommerce-page p.stars a.star-3:after {
    content: "\F04D2\F04D2\F04D2";
    font-family: 'Material Design Icons';
    color: #666;
}

p.stars a.star-4:after,
.woocommerce-page p.stars a.star-4:after {
    content: "\F04D2\F04D2\F04D2\F04D2";
    font-family: 'Material Design Icons';
    color: #666;
}

p.stars a.star-5:after,
.woocommerce-page p.stars a.star-5:after {
    content: "\F04D2\F04D2\F04D2\F04D2\F04D2";
    font-family: 'Material Design Icons';
    color: #666;
}

p.stars a,
.woocommerce-page p.stars a {
    display: inline-block;
    font-weight: 700;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    font-family: 'FontAwesome';
}

p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after,
.woocommerce-page p.stars a.star-1:after,
.woocommerce-page p.stars a.star-2:after,
.woocommerce-page p.stars a.star-3:after,
.woocommerce-page p.stars a.star-4:after,
.woocommerce-page p.stars a.star-5:after {
    font-family: 'Material Design Icons';
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p.stars a.star-1,
.woocommerce-page p.stars a.star-1 {
    width: 2em;
}

p.stars a.star-2,
.woocommerce-page p.stars a.star-2 {
    width: 3em;
}

p.stars a.star-3,
.woocommerce-page p.stars a.star-3 {
    width: 4em;
}

p.stars a.star-4,
.woocommerce-page p.stars a.star-4 {
    width: 5em;
}

p.stars a.star-5,
.woocommerce-page p.stars a.star-5 {
    width: 6em;
}

p.stars a.star-1.active:after,
p.stars a.star-1:hover:after,
p.stars a.star-1.active:after,
p.stars a.star-1:hover:after {
    content: "\F04CE";
    color: #000;
}

p.stars a.star-2.active:after,
p.stars a.star-2:hover:after,
p.stars a.star-2.active:after,
p.stars a.star-2:hover:after {
    content: "\F04CE\F04CE";
    color: #000;
}

p.stars a.star-3.active:after,
p.stars a.star-3:hover:after,
p.stars a.star-3.active:after,
p.stars a.star-3:hover:after {
    content: "\F04CE\F04CE\F04CE";
    color: #000;
}

p.stars a.star-4.active:after,
p.stars a.star-4:hover:after,
p.stars a.star-4.active:after,
p.stars a.star-4:hover:after {
    content: "\F04CE\F04CE\F04CE\F04CE";
    color: #000;
}

p.stars a.star-5.active:after,
p.stars a.star-5:hover:after,
p.stars a.star-5.active:after,
p.stars a.star-5:hover:after {
    content: "\F04CE\F04CE\F04CE\F04CE\F04CE";
    color: #000;
}

.comment-form span.select2 {
    display: none;
}

.woocommerce-Reviews input[type="text"],
.woocommerce-Reviews input[type="email"],
.woocommerce-Reviews textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.woocommerce-Reviews ol.commentlist {
    padding: 0;
}

.woocommerce-Reviews ol.commentlist img.avatar {
    float: left;
    margin-right: 15px;
}

.woocommerce-Reviews ol.commentlist .comment-text {
    float: left;
}

.woocommerce-Reviews ol.commentlist .comment_container:before,
.woocommerce-Reviews ol.commentlist .comment_container:after {
    content: '';
    display: table;
    clear: both;
}

.woocommerce-Reviews ol.commentlist li {
    margin-top: 20px;
}

.woocommerce .form-row {
    margin-right: 0;
    margin-left: 0;
}

p#calc_shipping_state_field span {
    width: 100%;
    max-width: 100%;
}

p#calc_shipping_state_field span .select2-selection__arrow b {
    left: inherit;
    right: 7px;
}

.cart-sidebar .cart-store-details p:last-child {
    margin-bottom: 30px;
}

.vc_tta-accordion .vc_tta-panel {
    border: 1px solid #eee;
    margin-bottom: .5rem;
}

.vc_tta-accordion .vc_tta-panel-heading h4 a {
    font-size: 1rem;
}


/*************************************************
* General
*************************************************/

@media (min-width: 992px) {
    ul.dropdown-menu ul.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}

ul.dropdown-menu .dropdown-toggle:after {
    display: none
}

.top-category.klb-product-cat {
    padding: unset;
    background: none;
    border: none;
    margin: unset;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none !important;
}

a.navbar-brand.klb-logo-text {
    color: #fff;
    text-transform: uppercase;
}

a.navbar-brand.klb-logo-text:hover {
    background: none;
    color: #fff;
}

.klb-breadcrumb {
    margin-top: -15px;
}

iframe {
    width: 100%;
    max-width: 100%;
}

.format-video .blog-header,
.format-audio .blog-header {
    line-height: 0;
}

.post-slider .owl-prev,
.post-slider .owl-next {
    top: 45%;
}

.card.sidebar-card ul li {
    border-bottom: 1px solid #efefef;
    display: block;
    padding: 8px 0;
}

.card.sidebar-card ul li a {
    color: #888;
}

.card.sidebar-card ul li a:before {
    display: inline-block;
    content: "\F0142";
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 3px;
}

.card.sidebar-card ul li:last-child {
    border: none;
}

.card.sidebar-card li.page_item_has_children {
    border: none;
    padding-bottom: 0;
}

.card.sidebar-card li.page_item_has_children>a {
    display: block;
    padding: 5px 0;
}

.sidebar-card ul.children li>ul.children li {
    padding-bottom: 0;
}

.sidebar-card ul.children,
.sidebar-card ul.sub-menu {
    padding-left: 10px;
}

ul.sub-menu>li {
    padding-bottom: 0 !important;
}

.widget_rss a.rsswidget {
    font-weight: 500;
}

.widget_recent_comments ul li a:before {
    display: none !important;
}

.card.sidebar-card .tagcloud a {
    color: #fff;
    font-size: 13px !important;
}

blockquote {
    padding: 10px 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

a.comment-reply-link {
    font-weight: 100;
    font-size: 16px;
    color: #e96125;
}

ul.comments ul.children {
    padding-left: 50px;
}

.comment-respond .comment-form label {
    display: none;
}

.wpcf7-form label {
    width: 100%;
}

.osahan-menu-2 ul.navbar-nav li.active>.nav-link,
.osahan-menu-2 ul.navbar-nav li>.nav-link:hover {
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    color: #fff !important;
}

.lwa-login_form+.lwa-submit-button {
    margin: 15px 0;
}

p.lwa-submit-button input[type="submit"] {
    display: block;
    margin: 15px 0;
}

.registerform p strong,
form.lwa-remember p strong {
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 500;
    color: #333;
}

.lwa-register,
form.lwa-remember {
    padding-top: 15px;
}

.lwa input {
    width: 100%;
}

.lwa input[type="checkbox"] {
    width: initial;
}

.faq textarea {
    height: 100px;
}

@media (max-width: 480px) {
    .klbcopyright {
        text-align: center;
        margin-bottom: .5rem !important;
    }
}

.klb-post img {
    max-width: 100%;
    height: auto;
}

.klb-post h1,
.klb-post h2,
.klb-post h3,
.klb-post h4,
.klb-post h5,
.klb-post h6 {
    margin-bottom: 10px;
    line-height: 140%;
    margin: 10px 0;
    text-rendering: optimizelegibility;
    padding: 0;
}

.klb-post h1 {
    font-size: 38.5px;
}

.klb-post h2 {
    font-size: 31.5px;
    padding-bottom: initial;
}

.klb-post h3 {
    font-size: 24.5px;
    text-transform: initial;
    text-align: left;
    text-transform: initial;
    font-weight: 500;
}

.klb-post h4 {
    font-size: 17.5px;
}

.klb-post h5 {
    font-size: 14px;
}

.klb-post h6 {
    font-size: 11.9px;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.sidebar-card form select,
.sidebar-card select {
    width: 100%;
}

.aligncenter img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.alignright {
    float: right;
    margin: 0 0 1em 1em;
    clear: both;
}

.alignleft {
    float: left;
    margin: 0 1em 1em 0;
    clear: both;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.gallery-caption {
    max-width: 100%;
}

.bypostauthor {
    max-width: 100%;
}

.textarea_half {
    max-width: 500px;
}

.wp-caption img {
    max-width: 100%;
    height: auto;
}

p>img {
    max-width: 100%;
    height: auto;
}

.wp-caption {
    padding-top: 4px;
    max-width: 100%;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
    background-color: #efefef;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.wp-caption p.wp-caption-text {
    width: auto !important;
    line-height: 1.5;
    font-size: 11px;
    padding: 3px 0;
    margin: 0px 0 0 0;
    background: #f6f6f6;
    display: block;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    text-align: inherit;
}

.klb-post ul {
    padding-left: 20px;
    list-style-type: circle;
}

.klb-post ol {
    padding-left: 20px;
    list-style-type: decimal;
}

.klb-post ul li {
    list-style-type: circle;
    line-height: 1.75;
    padding: 0;
}

.klb-post ol li {
    list-style-type: decimal;
    line-height: 1.75;
    padding: 0;
}

.post-password-form label {
    width: 100%;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
}

.page .klb-post p+p+p.klbclear:before,
.page .klb-post p+p+p.klbclear:after {
    content: '';
    clear: both;
    display: table;
}

.blog-header .card-img-top {
    width: initial;
}

.page-link {
    color: #e96125;
}

.page-item.active .page-link {
    background-color: #e96125;
    border-color: #e96125;
}

li.page-item.next .page-link a,
li.page-item.previous .page-link a {
    color: #e96125;
}

.page-link:focus {
    box-shadow: none;
    color: #e96125;
}

.entry-meta .sticky {
    color: #e96125;
}

.entry-meta .sticky .mdi {
    background: #e96125 none repeat scroll 0 0;
}

li.comment.media .media.mb-4 {
    width: 100%;
}

@media screen and (max-width: 480px) {
    ul.comments ul.children {
        padding-left: 0;
    }
}

@media screen and (max-width:768px) {
    a.nav-link.dropdown-toggle {
        pointer-events: none;
    }
    ul.dropdown-menu ul.dropdown-menu {
        padding-left: 15px;
    }
    ul.dropdown-menu {
        padding-top: 0;
    }
}

@media screen and (max-width:480px) {
    .klbiconbox {
        text-align: center;
    }
}

h3#reply-title {
    font-size: 1.25rem;
}

.page .wp-caption.aligncenter {
    margin-top: 65px;
}

.page-template-frontpage nav.navbar.osahan-menu-2 {
    margin-bottom: 0;
}

.top-categories-search {
    width: 40%;
}

ul.nav-top-right li {
    display: inline-block;
    margin-left: 1rem;
}

ul.nav-top-right li a {
    color: #fff;
}

.klb-middle .container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.klb-middle {
    padding: 20px 0px;
}

.klb-middle .navbar-brand {
    padding: 0px;
    padding-top: 6px;
}

.main-nav-right {
    text-align: right;
}

.top-categories-search {
    position: relative;
    width: 100%;
    top: initial;
    padding: 0 !important;
}

@media (max-width: 768px) and (min-width: 480px) {
    button.navbar-toggler {
        margin-left: 15px;
    }
}

@media (max-width: 991.98px) and (min-width: 768px) {
    .main-nav-right .btn {
        font-size: 0;
        padding: 9px 0;
    }
}

@media screen and (max-width:768px) {
    .main-nav-right {
        padding-right: 15px;
    }
}

.klb-main-nav-right>.my-lg-0 {
    display: inline-block;
}

.klb-main-nav-right {
    text-align: right;
}

@media (max-width:480px) {
    .col-xs-6 {
        width: 50%;
        float: left;
    }
    .col-xs-12 {
        width: 100%;
        float: left;
    }
    .order-xs-second {
        order: -1;
    }
    .order-xs-first {
        order: -2;
    }
    .klb-middle .navbar-brand {
        padding-top: 0;
    }
    .main-nav-right .btn {
        padding: 0 4px;
    }
    a.navbar-brand {
        margin-bottom: 15px;
    }
}

.navbar-toggler-icon {
    width: 1.3em;
    height: 1.3em;
}

.nav-top-right li.mdi:before {
    color: #fff;
    margin-right: 3px;
}

nav.klb-middle .row {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.woocommerce-order .woocommerce-order-details,
.woocommerce-order .woocommerce-customer-details {
    margin-top: 25px;
}

.woocommerce-order .woocommerce-order-details h2,
.woocommerce-order .woocommerce-customer-details h2,
.woocommerce-MyAccount-content section.woocommerce-customer-details h2,
.woocommerce-MyAccount-content section.woocommerce-order-details h2 {
    font-size: 24px;
    font-weight: 100;
}

.woocommerce-MyAccount-content section.woocommerce-customer-details {
    margin-top: 20px;
}

.woocommerce-notices-wrapper {
    width: 100%;
}

p.woocommerce-mini-cart__buttons.buttons:before,
p.woocommerce-mini-cart__buttons.buttons:after {
    content: '';
    display: table;
    clear: both;
}

.woocommerce-mini-cart__buttons a.button.wc-forward {
    padding: 15px 17px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    float: left;
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border: medium none;
    border-radius: 2px !important;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.category-grid {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px !important;
    position: relative;
}

.category-grid .category-image {
    float: left;
    width: 30%;
}

.category-grid:before,
.category-grid:after {
    content: '';
    display: table;
    clear: both;
}

.category-grid .category-name:after {
    content: "\F142";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 25px;
    font-weight: 600;
}

.category-name a {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.single_variation_wrap button {
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border: medium none;
    border-radius: 2px !important;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 10px 30px;
}

.single_variation_wrap {
    margin-top: 10px;
}

#shipping_state_field .select2,
#billing_state_field .select2 {
    width: 100%!important;
}

input#ywcdd_datepicker {
    width: 100%!important;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    ransition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    font-size: 14px;
}

.ywcdd_select_delivery_date_content label abbr {
    padding-left: 5px;
}

.ywcdd_timeslot_content .select2 {
    width: 100%!important;
}

.select2 .selection .select2-selection {
    height: 40px;
}

.woocommerce-account-fields input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    font-size: 14px;
}

.woocommerce-account-fields label {
    display: block;
    width: 100%;
}

.woocommerce-account-fields span.woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-variation-add-to-cart:before,
.woocommerce-variation-add-to-cart:after {
    content: '';
    display: table;
    clear: both;
}

.woocommerce-variation-add-to-cart {
    margin-bottom: 30px;
}

a.reset_variations {
    margin-left: 10px;
}

.widget.woocommerce ul.children {
    padding-left: 15px;
}

.cart-sidebar-body {
    overflow-y: scroll;
}

.product-onshop li.product-category {
    flex-grow: 1;
    width: 33%;
}

ul.product-onshop {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

h2.woocommerce-loop-category__title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
}

.product_list_widget li {
    margin-bottom: 15px;
}

.product_list_widget li:last-child {
    margin-bottom: 0;
}

ul.product-onshop {
    margin-bottom: 30px;
}

@media(max-width:480px) {
    .product-onshop li.product-category {
        width: 50%;
    }
}

ul.page-numbers a.page-numbers {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0cc5b7;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

ul.page-numbers {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

ul.page-numbers span.page-numbers.current {
    background: #0cc5b7;
    background: -moz-linear-gradient(-45deg, #0cc5b7 0%, #2bd891 100%);
    background: -webkit-linear-gradient(-45deg, #0cc5b7 0%, #2bd891 100%);
    background: linear-gradient(135deg, #0cc5b7 0%, #2bd891 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0cc5b7', endColorstr='#2bd891', GradientType=1);
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    color: #fff;
}

.klbfooterwidget+.klbfooterwidget {
    margin-top: 30px;
}

.klbfooterwidget ul.children {
    padding-left: 10px;
}

.klbfooterwidget .tag-cloud-link {
    background: #ff8a4f;
}

.klbfooterwidget ul.sub-menu {
    padding-left: 10px;
}

.shop-detail-right p.price>span {
    color: #28a745;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.wp-block-button {
    margin-bottom: 20px;
}

.wp-block-cover.has-background-dim p.wp-block-cover-text {
    color: #fff;
}

ul.wp-block-gallery+ul.wp-block-gallery {
    margin-top: 20px;
}

.woocommerce-Reviews .comment-respond .comment-form label {
    display: block;
}

.woocommerce-Reviews .comment-respond .comment-form p.comment-form-cookies-consent label {
    display: inline-block;
}

form.woocommerce-cart-form {
    overflow-x: auto;
}

@media(max-width:480px) {
    form.woocommerce-cart-form table {
        table-layout: auto;
    }
    td.product-thumbnail.cart_product {
        min-width: 77px;
    }
    td.product-quantity input {
        width: 50px;
    }
    .shop_table .coupon+button.button {
        display: block;
        float: none;
        margin-top: 10px;
    }
    .shop_table div.coupon {
        float: none;
    }
}

.woocommerce-form span.password-input {
    width: 100%;
}

.checkout-page form.login input[type="text"],
.checkout-page form.login input[type="password"] {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 2px;
    font-size: 14px;
}

.checkout-page form.login button[type="submit"] {
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border: medium none;
    border-radius: 2px !important;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.checkout-page form.login label {
    display: block;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
}

.woocommerce-input-wrapper .select2-container {
    width: 100% !important;
}

.woocommerce-variation-price span.price {
    color: #28a745;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.single_variation_wrap {
    margin-top: 1rem;
}

table.variations label {
    color: #666;
    font-size: 14px;
    font-weight: 500;
}

.woocommerce-variation-availability p {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.sticky-header {
    transition: opacity .5s ease, transform .5s ease;
}

@media(max-width: 991px) {
    nav.navbar.sticky-header.osahan-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        border-bottom: 1px solid #eeeeee;
    }
}

nav.navbar.sticky-header.osahan-menu-2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #eeeeee;
}

.klb-breadcrumb2 p,
.klb-breadcrumb2 a,
.klb-breadcrumb2 span {
    color: #888 !important;
}

.klb-breadcrumb2 .breadcrumbs p a:first-child:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F2DC";
    margin-right: 5px;
}

.klb-breadcrumb2 .breadcrumbs p a:first-child {
    font-weight: 800;
}

.woocommerce-ResetPassword button.button {
    background: #ff934b;
    background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: -webkit-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
    background: linear-gradient(135deg, #ff934b 0%, #ff5e62 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62', GradientType=1);
    border: medium none;
    border-radius: 2px !important;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
}

@media(max-width:480px) {
    .cart-sidebar-footer {
        margin-bottom: 60px;
    }
}

.category-list-sidebar-header .btn {
    width: 100%;
    text-align: left;
    color: #fff;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    padding: 13px 18px;
    height: 51px;
}

.category-list-sidebar-header .btn i {
    margin-left: auto;
}

.category-list-sidebar {
    background: #fff;
    border-radius: 2px;
    margin-top: -76px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.sidebar-category-item a {
    display: flex;
    align-items: center;
    border-left: 2px solid #fff;
    padding: 5px 6px;
    border-bottom: 1px solid #f0f7fa;
}

.sidebar-category-item a:hover {
    border-left: 2px solid #28d696;
    background-color: #eff7fa;
}

.sidebar-category-item a:hover h6 {
    color: #000;
}

.sidebar-category-item img {
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 2px;
}

.sidebar-category-item h6 {
    font-size: 13px;
    margin: 0px 8px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-category-item a:hover p {
    color: #fa626b;
}

.sidebar-category-item p {
    margin-left: auto;
    margin-bottom: 0px;
    font-size: 11px;
    margin-right: 10px;
    background: #f0f7fa;
    border-radius: 3px;
    line-height: 16px;
    padding: 1px 3px;
}

@media (max-width: 575.98px) {
    .category-list-sidebar {
        margin: 0 0 12px 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .category-list-sidebar {
        margin: 0 0 12px 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .category-list-sidebar {
        margin: 0 0 12px 0;
    }
}

.category-list-sidebar-header .btn {
    color: #fa626b;
}

.category-list-sidebar .btn:not(:disabled):not(.disabled):active {
    color: #fa626b;
}

.category-list-sidebar .category-sub {
    display: none;
    position: absolute;
    left: 100%;
    z-index: 999999;
    top: 0;
    background: white;
    min-width: 150px;
}

.sidebar-category-item {
    position: relative;
}

.category-list-sidebar .item:hover .category-sub {
    display: block;
}

p.woocommerce-store-notice.demo_store {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: red;
    color: #fff;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 600;
}

p.woocommerce-store-notice.demo_store a {
    color: #fff;
}

.wp-block-button {
    margin-bottom: 15px;
}

.wp-block-cover.has-background-dim p.wp-block-cover-text {
    color: #fff;
}

.wp-block-cover {
    margin-bottom: 15px;
}

ul.blocks-gallery-grid {
    padding-left: 0;
}

figure.wp-block-gallery figcaption.blocks-gallery-caption {
    margin-bottom: 15px;
}

.klb-post .has-large-font-size {
    font-size: 36px;
    line-height: initial;
}

.klb-post p[style="font-size:46px"] {
    line-height: initial;
}

.klb-post ul+figure.wp-block-gallery {
    margin-top: 15px;
}

.category-sub .sidebar-category-item a {
    padding: 10px;
}

.category-third-sub {
    display: none;
    position: absolute;
    left: 100%;
    z-index: 999999;
    top: 0;
    background: white;
    min-width: 150px;
}

.category-sub .item:hover .category-third-sub {
    display: block;
}

.product-quantity input {
    padding-left: 5px;
}

@media(max-width:480px) {
    .category-list-sidebar .category-sub {
        position: static;
    }
}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    border: medium none;
    font-size: 13px;
    height: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 2px;
    color: #495057;
}

.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
    border-radius: 0 2px 2px 0 !important;
    font-weight: 500;
    height: 45px;
    padding: 0 21px;
    text-transform: uppercase;
    border: medium none;
    font-size: 13px;
    color: #fa626b;
    ;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    opacity: 1 !important;
}

.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F21E";
    position: static;
    border: none;
}

.shop-detail-right h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 10px 0 5px;
}